<link rel="stylesheet" href="http://marvel.com/universe3zx/skins/common/shared.css?207" type="text/css" media="screen">
<link rel="stylesheet" href="http://marvel.com/universe3zx/skins/common/commonPrint.css?207" type="text/css" media="print">
<link rel="stylesheet" href="http://marvel.com/universe3zx/skins/marvel/styles.css" type="text/css">
<link rel="stylesheet" href="http://marvel.com/universe3zx/skins/marvel/screen.css" type="text/css">
<link rel="stylesheet" href="http://marvel.com/universe3zx/skins/marvel/mu_wiki.css" type="text/css">
<link rel="stylesheet" href="http://marvel.com/universe3zx/extensions/FlaggedRevs/flaggedrevs.css?56" type="text/css">

<div class="module-body powergrid clear" style="width:320px;">
    <div
        id="powergrid-holder"
        style="visibility: visible;width:300px;"
    >
        <div
            class="powergrid-row"
            style="border-top:none;"
        >
            <div
                class="p-left"
                style="font-size:15px;"
            >
                <p>POWERGRID</p>
            </div>
            <div class="p-right p-top">1</div>
            <div class="p-right p-top">2</div>
            <div class="p-right p-top">3</div>
            <div class="p-right p-top">4</div>
            <div class="p-right p-top">5</div>
            <div class="p-right p-top">6</div>
            <div
                class="p-right p-top"
                style="border-right:none;"
            >
                7
            </div>
        </div>
        <div class="powergrid-row">
            <div class="p-left">
                <p>durability</p>
            </div>
            <div
                style="width:84px;"
                class="p-right ratingvalue"
            > 
            </div>
        </div>
        <div class="powergrid-row">
            <div class="p-left">
                <p>energy</p>
            </div>
            <div
                style="width:21px;"
                class="p-right ratingvalue"
            > 
            </div>
        </div>
        <div class="powergrid-row">
            <div class="p-left">
                <p>fighting</p>
            </div>
            <div
                style="width:84px;"
                class="p-right ratingvalue"
            > 
            </div>
        </div>
        <div class="powergrid-row">
            <div class="p-left">
                <p>intelligence</p>
            </div>
            <div
                style="width:42px;"
                class="p-right ratingvalue"
            > 
            </div>
        </div>
        <div class="powergrid-row">
            <div class="p-left">
                <p>speed</p>
            </div>
            <div
                style="width:63px;"
                class="p-right ratingvalue"
            > 
            </div>
        </div>
        <div class="powergrid-row">
            <div class="p-left">
                <p>strength</p>
            </div>
            <div
                style="width:84px;"
                class="p-right ratingvalue"
            > 
            </div>
        </div>
    </div>
</div>
